li {
	display: flex;
	align-items: center;
	gap: 8px;
}
.inputWrapper {
	display: flex;
	gap: 8px;
}
.epfSection {
	display: flex;
	margin-top: 8px;
	gap: 16px;
}
.epfSection span {
	display: flex;
	align-items: center;
	gap: 8px;
}
.epfSection input[type="checkbox"] {
	width: 20px;
	height: 20px;
	cursor: pointer;
}
