body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Inter", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
		"Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
h4 {
	font-weight: 700;
	font-size: 20px;
	line-height: 32px;
	letter-spacing: -0.02px;
}
h5{
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.1px;
}
.buttonText {
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #0052ea;
}
section{
	margin-top: 24px;
	width: fit-content;
}
.wrapper {
	background-color: #fafafa;
	padding: 24px;
	border: 1px solid #e0e0e0;
	border-radius: 8px;
}
